.card{
    padding: 1rem;
    background-color: $color-white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    & > img {
        width: 100%;
    }
    &_body {
        &_title {
            font-size: 1.6rem;
            margin: 0.6rem 0rem;
        }
        &_details {
            width: 100%;
            display: flex;
            margin-bottom: 0.7rem;
            &_gender {
                margin-right: 1rem;
                font-size: 1.4rem;
            }
            &_age {
                font-size: 1.4rem;
            }
        }
        &_price {
            font-weight: 700;
        }
        &_category{
            background-color: $color-primary;
            padding: 0.4rem 0.7rem;
            border-radius: 10rem;
            color: $color-white;
            font-size: 1rem;
            width: 39%;
            margin: 0.7rem 0rem;
        }
        &_text {
            font-size: 1.4rem;
        }
    }
}